
$primary-color: #bbd867;
$secondary-color: #6FDCDC;

body, a, p, h1, h2, h3, h4, h5, h6, span {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: darken($secondary-color, 30%);
	&:hover, &:active, &:focus, &:visited {
		color: darken($secondary-color, 30%);
	}

}

a.button, .button {
	color: white;
	background-color: $primary-color;
	&.tiny {
		margin-bottom: 0;
	}
	&:hover, &:active, &:focus {
		background-color: darken($primary-color, 10%);
	}
	&:visited {
		background-color: $primary-color;
	}
}

header {
	.button {
		color: white;
		&:hover, &:active, &:focus {
			background-color: darken($primary-color, 10%);
			color: white;
		}
		&:visited {
			background-color: $primary-color;
			color: white;
		}
	}
}

.insta-wrapper { background-color: $primary-color; }

header {
	background:
		linear-gradient(
	      rgba($primary-color, 0.9), 
	      rgba($primary-color, 0.5)
	    ),
	    fixed url('../background.jpg');
}

.panel.callout { border-color: $primary-color; background-color: lighten($primary-color, 20%); }

.slick-next:before, .slick-prev:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 42px;
}
.slick-next, .slick-prev {
	height: 42px;
	width: 42px;
	&:hover, &:active, &:focus, &:visited {
		background: transparent;
	}
}
.slick-next {
	right: -6px;
} 
.slick-prev {
	left: -6px;
}
.slick-next:before {
	content: "\f054";
	color: black;
}
.slick-prev:before {
	content: "\f053";
	color: black;
}

.inner-slide {
	padding: 5px 20px;
}

.nav-list {margin-bottom: 0;}

header {
	padding: 3em 0 2em;
	float: left;
	display: block;
	width: 100%;

	h1 {margin-bottom: 0;
		margin-top: 0;
		img {
			height: 2.15em;
		}
	}
}

#initiate-feed {
	margin-top: 50px;
}

#main {float: left; width: 100%;}

.subscribe-wrapper {
	> * {display: inline; font-weight: bold; color: darken($primary-color, 30%);}
	h5 {cursor: pointer; color: darken($primary-color, 30%);}
	a {}
}

#top-nav {
	background-color: lighten($primary-color, 10%);
	h5 {
		margin-top: 0;
		margin-bottom: 0;
		padding: 10px 0;
		color: darken($primary-color, 30%);
	}
	.contact-us-wrapper {
		padding: 10px 0;
		> * {display: inline;}
	}
}


.marker-labels {
    color: red;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}

// Locate Mels section

#locate-mels {
	padding: 4em 0;
	#google-locate {
		.angular-google-map, .angular-google-map-container { height: 400px;
			display:block;
			overflow: hidden !important;
		    border-radius:50%;
		    -moz-border-radius:50%;
		    -webkit-border-radius:50%;
		    -khtml-border-radius: 50%;
		    text-align:center;
		    padding: 0 5%;
		}
	}
	#locate-desc {
		padding: 6em 4em;
	}
}

footer {
	background-color: $secondary-color;
	.footer-inner {
		padding: 4em 0;
		a.button {
			i {margin: 0;}
			padding: 0;
			margin: 0;
		}
		.button {
			color: white;
			background-color: darken($secondary-color, 20%);;
			&:hover, &:active, &:focus {
				background-color: darken($secondary-color, 30%);
				color: white;
			}
			&:visited {
				background-color: darken($secondary-color, 30%);;
				color: white;
			}
		}
	}
}

/* Modal Styles */

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:fixed;
  z-index:98;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:98;
  position: fixed;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

