header, .insta-wrapper {background-color: #6FDC6F;}

.slick-next:before, .slick-prev:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 42px;
}
.slick-next, .slick-prev {
	height: 42px;
	width: 42px;
}
.slick-next:before {
	content: "\f054";
	color: black;
}
.slick-prev:before {
	content: "\f053";
	color: black;
}

.inner-slide {
	padding: 5px 20px;
}

.angular-google-map, .angular-google-map-container { height: 400px;
width: 100%;}

.nav-list {margin-bottom: 0;}

header {
	h1 {margin-bottom: 0;
		margin-top: 0;}
}

body {
	background-color: lighten(#cccccc, 60%);
}