$mainColor: #6FDC6F;
$secondaryColor: #6FDCDC;

body, p, h1, h2, h3, h4, h5, h6, span {
	font-family: 'Source Sans Pro', sans-serif;
}

header, .insta-wrapper {background-color: $mainColor;}

.panel.callout {border-color: $mainColor; background-color: lighten($mainColor, 20%);}

.slick-next:before, .slick-prev:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 42px;
}
.slick-next, .slick-prev {
	height: 42px;
	width: 42px;
	&:hover {
		background: transparent;
	}
}
.slick-next {
	right: -6px;
} 
.slick-prev {
	left: -6px;
}
.slick-next:before {
	content: "\f054";
	color: black;
}
.slick-prev:before {
	content: "\f053";
	color: black;
}

.inner-slide {
	padding: 5px 20px;
}

.nav-list {margin-bottom: 0;}

header {
	padding: 3em 0 2em;
	float: left;
	display: block;
	width: 100%;

	h1 {margin-bottom: 0;
		margin-top: 0;
		img {
			height: 1.15em;
		}
	}
}

#initiate-feed {
	margin-top: 50px;
}

#main {float: left; width: 100%;}

.subscribe-wrapper {
	> * {display: inline; font-weight: bold;}
}

#top-nav {
	background-color: lighten($mainColor, 10%);
	h5 {
		margin-top: 0;
		margin-bottom: 0;
		padding: 10px 0;
	}
	.contact-us-wrapper {
		padding: 10px 0;
		> * {display: inline;}
	}
}


.marker-labels {
    color: red;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}

// Locate Mels section

#locate-mels {
	padding: 4em 0;
	#google-locate {
		.angular-google-map, .angular-google-map-container { height: 400px;
			display:block;
			overflow: hidden !important;
		    border-radius:50%;
		    -moz-border-radius:50%;
		    -webkit-border-radius:50%;
		    -khtml-border-radius: 50%;
		    text-align:center;
		    padding: 0 5%;
		}
	}
	#locate-desc {
		padding: 6em 4em;
	}
}

footer {
	background-color: $secondaryColor;
	.footer-inner {
		padding: 4em 0;
	}
}



